[submodule "third-party/hamer"]
	path = third-party/hamer
	url = https://github.com/ZhengdiYu/hamer.git
	branch = dynamic-hamer
[submodule "third-party/DROID-SLAM"]
	path = third-party/DROID-SLAM
	url = git@github.com:hesic73/DROID-SLAM.git
[submodule "third-party/human_body_prior"]
	path = third-party/human_body_prior
	url = https://github.com/nghorbani/human_body_prior.git
